<h1>Full-Stack Developer</h1>
<br>
Dedicated Full-Stack Engineer with extensive experience in designing and developing Website and Backend/Server
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-7">
                    <p>
                        <br>
                        <strong>Birthday: </strong> 25 March 2000
                        <br>
                        <br>
                        <strong>Phone: </strong> +91 9518636811
                    </p>
                </div>
                <div class="col-md-5">
                    <p>
                        <br>
                        <strong>Degree: </strong> Bachelors
                        <br>
                    <br>
                        <strong>Nationality: </strong> Indian
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <br>
        <app-achievements></app-achievements>
    </div>
</div>