<app-navbar [about]="about"></app-navbar>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center heading">
            <h1>About</h1>
            <hr style="color: white; background-color: white; margin-left: 45%; margin-right: 45%; height: 2px;"/>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12" id="about">
            <p>1+ year of experience in Full-Stack Developer. I am proficient in both front and back end coding. And also as a Database designing.
                Passionate engineer and thriving analyst with the ability to apply Full-Stack techniques to create some real-world projects
            </p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-8">
            <app-full-stack-developer></app-full-stack-developer>
            <br>
            <app-certificates></app-certificates>
        </div>
        <div class="col-md-4">
            <app-skills></app-skills>
        </div>
    </div>
</div>