<app-navbar [about]="about"></app-navbar>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center heading">
            <h1>About</h1>
            <hr style="color: white; background-color: white; margin-left: 45%; margin-right: 45%; height: 2px;" />
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12" id="about">
            <p>2 years or more of experience as a full-stack developer. I have coding skills on both the front end and
                the back end. As well as developing databases. Full-Stack approaches may be used to develop some
                real-world projects by a driven engineer and prospering analyst.
            </p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-8">
            <app-full-stack-developer></app-full-stack-developer>
            <br>
            <app-certificates></app-certificates>
        </div>
        <div class="col-md-4">
            <app-skills></app-skills>
        </div>
    </div>
</div>