<h1>Skils</h1>
<br>
<br>
<div class="row box">
    <div class="col-md-12">

        <label>Java</label>
        <label class="float-right">100%</label>
        <progress value="100" max="100"></progress>

        <label>C/C++</label>
        <label class="float-right">80%</label>
        <progress value="80" max="100"></progress>

        <label>HTML/CSS</label>
        <label class="float-right">95%</label>
        <progress value="95" max="100"></progress>

        <label>Javascript</label>
        <label class="float-right">90%</label>
        <progress value="90" max="100"></progress>

        <label>Bootstrap</label>
        <label class="float-right">85%</label>
        <progress value="85" max="100"></progress>

        <label>MySQL</label>
        <label class="float-right">90%</label>
        <progress value="90" max="100"></progress>

        <label>REST API</label>
        <label class="float-right">95%</label>
        <progress value="95" max="100"></progress>

        <label>Angular</label>
        <label class="float-right">100%</label>
        <progress value="100" max="100"></progress>

        <label>Spring Boot</label>
        <label class="float-right">95%</label>
        <progress value="95" max="100"></progress>

        <label>Microserives</label>
        <label class="float-right">88%</label>
        <progress value="85" max="100"></progress>

        <label>Hibernate</label>
        <label class="float-right">85%</label>
        <progress value="85" max="100"></progress>

        <label>Figma</label>
        <label class="float-right">80%</label>
        <progress value="80" max="100"></progress>

        <label>Android</label>
        <label class="float-right">75%</label>
        <progress value="75" max="100"></progress>

        <label>Oracle</label>
        <label class="float-right">85%</label>
        <progress value="85" max="100"></progress>

        <label>Mongo DB</label>
        <label class="float-right">75%</label>
        <progress value="75" max="100"></progress>
    </div>
</div>