<h1>Skils</h1>
<br>
<div class="row box">
    <div class="col-md-12">
        <h3 style="color: white;">Languages</h3>
        <label *ngFor="let skill of allSkills; let i=index;" class="skills">{{skill.skillName}}</label>
        <br>
        <br>
        <h3 style="color: white;">Softwares</h3>
        <label *ngFor="let skill of software; let i=index;" class="skills">{{skill.name}}</label>
        <br>
        <br>
        <h3 style="color: white;">Operating System</h3>
        <label *ngFor="let skill of os; let i=index;" class="skills">{{skill.name}}</label>
    </div>
</div>