<app-navbar></app-navbar>
<br>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6" *ngFor="let imgs of project?.projectImages">
                    <a [href]="imgs.projImage">
                        <img [src]="imgs.projImage" alt="" width="100%">
                    </a>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-md-4 boxx">

            <h1 class="text-center">
                {{project.projectname}}
            </h1>
            <hr style="height: 2px; color: white; background-color: wheat;" />
            <br>
            <p>
                <strong style="color: wheat;">Category: </strong> {{project.projectType}}
            </p>
            <p>
                <strong style="color: wheat;">Project Date: </strong> {{project.projectdate}}
            </p>
            <p *ngIf="project.link!=''">
                <strong style="color: wheat;">Project URL: </strong> <a [href]="project.link" target="_blank">Link</a>
            </p>
            <p>
                <strong style="color: wheat;">Overview: </strong>
                <br>
                <small>
                    {{project.description}}
                </small>
            </p>
        </div>
    </div>
</div>