<app-navbar [home]="home"></app-navbar>


<section class="home">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="contant">
                    <h1>Hi</h1>
                    <h1>My name is Vikas Dhiman</h1>
                    <h2>I am a Full-Stack Developer from India</h2>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <br><br><br>
                        <label class="emailheading">Email</label><br>
                        <a href="mailto: vikasdhiman835@gmail.com"><span class="email">vikasdhiman835@gmail.com</span></a>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <br>
                <br>
                <br>    
                <img src="../../../assets/images/Vikas.png" alt="" id="my_image">
            </div>
        </div>
        
    </div>
</section>
<div class="row vectors">
    <div class="col-md-12">
        <img src="../../../assets/vectors/Vector 1.png" alt="" class="vector1" width="5%">
        <img src="../../../assets/vectors/Vector 2.png" alt="" width="5%" class="vector2 float-right">
    </div>
</div>

<div class="container">
    <div class="row conact">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <label class="contact_heading">Contact</label> 
        </div>
        <div class="col-md-2 text-center">
            <a href="https://github.com/vikasdhiman0635" style="cursor: pointer;" target="_blank"><img width="25px" src="../../../assets/icons/github.png" alt=""> <label class="githubs"> Github</label></a>
        </div>
        <div class="col-md-2 text-center">
            <a href="https://www.linkedin.com/in/vikas-dhiman-a19a8018b/" style="cursor: pointer;" target="_blank"><img width="25px" src="../../../assets/icons/linkedin.png" alt=""> <label class="githubs"> LinkedIn</label></a>
        </div>
        <div class="col-md-2 text-center">
            <a href="https://www.facebook.com/vikas.dhiman.52493499" style="cursor: pointer;" target="_blank"><img width="25px" src="../../../assets/icons/facebook.png" alt=""> <label class="githubs"> Facebook</label></a>
        </div>
    </div>
</div>
<!-- ------------------------------------ -->