.boxx
{
    padding: 20px;
    /* background-color: rgb(255, 255, 255); */
    text-align: center;
    align-items: center;
    /* color: black; */
}
.dateword
{
    border: 2px solid white;
    border-style: dashed;
    padding: 10px;
}