<app-navbar [service]="service"></app-navbar>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>
                Service
            </h1>
            <hr style="color: white; background-color: white; height: 2px; margin-left: 45%; margin-right: 45%;" />
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <h1 class="text-center">
                        Coforge
                    </h1>
                    <hr style="height: 2px; color: white; background-color: wheat;"/>
                    <p>
                        <strong style="color: wheat;">Joining: </strong> June 2021 - Present
                    </p>
                    <p>
                        <strong style="color: wheat;">Position: </strong>
                        Software Engineer
                    </p>
                    <p>
                        <strong style="color: wheat;">Description: </strong>
                        Coforge, formerly known as NIIT Technologies, is an Indian multinational information technology
                        company based in Noida, India and New Jersey, USA. The company's stock trades on the Bombay
                        Stock Exchange and on the National Stock Exchange of India under the ticker symbol COFORGE.
                    </p>
                </div>
                <div class="col-md-8">
                    <br>
                    <br>
                    <h4 style="color: wheat;">Task & Responsibility: </h4>
                    <ul>
                        <li>
                            Collaborating with Santander Bank, actively contributing to several critical applications such as MIRO, GASS, DORA, Sales, and others.
                        </li>
                        <li>
                            Engaging in end-to-end full-stack development, encompassing both front-end and back-end components.
                        </li>
                        <li>
                            Conducting in-depth research and investigations to deliver well-documented solutions.
                        </li>
                        <li>
                            Notable achievements in code optimization and performance enhancement.
                        </li>
                        <li>
                            Swiftly developing and maintaining a multitude of microservices with a strong emphasis on clean code.
                        </li>
                        <li>
                            Beyond client work, initiated a ground-up application development project and fostered internal cross-team collaboration.
                        </li>
                        <li>
                            Actively participated in workshops and training sessions to continually enhance skill set.
                        </li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <h4 style="color: wheat;">Skills Used: </h4>
                    JAVA, Angular 12+, Spring Boot, Gitlab, Jenkins, Sonarqube, Hibernate, Microservice, Rest API, SQL, Docker, Openshift, Pass, Material UI, Gearsphear, CI/CD, Junit, Jasmin/Kerma, Maven
                    <br>
                    <hr style="height: 2px; color: white; background-color: wheat;"/>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h1 class="text-center">
                        Affine Group Limited (Internship)
                    </h1>
                    <hr style="height: 2px; color: white; background-color: wheat;"/>
                    <p>
                        <strong style="color: wheat;">Joining: </strong> July 2020 - Dec 2020
                    </p>
                    <p>
                        <strong style="color: wheat;">Description: </strong>
                        A Company of United Kingdom of providing Software to and Helping people with technologies.
                    </p>
                </div>
                <div class="col-md-8">
                    <br>
                    <br>
                    <h4 style="color: wheat;">Task & Responsibility: </h4>
                    <ul>
                        <li>
                            Responsible for developing end to end website for serving digital doctors to customers.
                        </li>
                        <li>
                            Delivered all business clients requirements related to their projects.
                        </li>
                        <li>
                            Developed Chatbots using IBM and Google Dialogflow and integrated with the product website using different APIs and firebase for database management.
                        </li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <h4 style="color: wheat;">Skills Used: </h4>
                    Javascript, Angular 10, Firebase, Uneeq, GCP, Node, Github, IBM Chatbot, IBM Watson, Github
                    <br>
                    <hr style="height: 2px; color: white; background-color: wheat;"/>
                    <br>
                </div>
            </div>
            
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 text-center">
                    <br>
                    <br>
                    <br>
                    <br>
                    <span class="dateword">
                        07/2021 - Present
                    </span>
                </div>
                <div class="col-md-6 boxx">
                    <h4 style="color: aqua;">
                        Coforge
                    </h4>
                    <hr style="color: white; background-color: white; margin-left: 40%; margin-right: 40%;" />
                    <p>
                        Coforge, formerly known as NIIT Technologies, is an Indian multinational information technology
                        company based in Noida, India and New Jersey, USA. The company's stock trades on the Bombay
                        Stock Exchange and on the National Stock Exchange of India under the ticker symbol COFORGE.
                    </p>
                    
                </div>
                <div class="col-md-12">
                    <hr style="color: white; background-color: white; height: 1px;" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-center">
                    <br>
                    <br>
                    <br>
                    <br>
                    <span class="dateword">
                        07/2020 - 12/2020
                    </span>
                </div>
                <div class="col-md-6 boxx">
                    <h4 style="color: aqua;">
                        Affine Group Limited
                    </h4>
                    <hr style="color: white; background-color: white; margin-left: 40%; margin-right: 40%;" />
                    <p>
                        A Company of United Kingdom of providing Software to and Helping people with technologies.
                        <br>
                        Responsibility - Software Development Engineer
                        Build and Deploy Software and IBM (for deployment)
                    </p>
                </div>
                <div class="col-md-12">
                    <hr style="color: white; background-color: white; height: 1px;" />
                </div>
            </div>
        </div>
    </div> -->
</div>