<app-navbar [service]="service"></app-navbar>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>
                Service
            </h1>
            <hr style="color: white; background-color: white; height: 2px; margin-left: 45%; margin-right: 45%;" />
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 text-center">
                    <br>
                    <br>
                    <br>
                    <br>
                    <span class="dateword">
                        07/2021 - Present
                    </span>----------->
                </div>
                <div class="col-md-6 boxx">
                    <h4 style="color: aqua;">
                        Coforge
                    </h4>
                    <hr style="color: white; background-color: white; margin-left: 40%; margin-right: 40%;" />
                    <p>
                        Coforge, formerly known as NIIT Technologies, is an Indian multinational information technology
                        company based in Noida, India and New Jersey, USA. The company's stock trades on the Bombay
                        Stock Exchange and on the National Stock Exchange of India under the ticker symbol COFORGE.
                    </p>
                    
                </div>
                <div class="col-md-12">
                    <hr style="color: white; background-color: white; height: 1px;" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-center">
                    <br>
                    <br>
                    <br>
                    <br>
                    <span class="dateword">
                        07/2020 - 12/2020
                    </span>----------->
                </div>
                <div class="col-md-6 boxx">
                    <h4 style="color: aqua;">
                        Affine Group Limited
                    </h4>
                    <hr style="color: white; background-color: white; margin-left: 40%; margin-right: 40%;" />
                    <p>
                        A Company of United Kingdom of providing Software to and Helping people with technologies.
                        <br>
                        Responsibility - Software Development Engineer
                        Build and Deploy Software and IBM (for deployment)
                    </p>
                </div>
                <div class="col-md-12">
                    <hr style="color: white; background-color: white; height: 1px;" />
                </div>
            </div>
        </div>
    </div>
</div>